<form method="get" action="/api/delsearch">
    <H2>DELETE QUESTIONS</H2>
    Question ID : <input type="text" name="QuestionID"><br><br> 
    {{!-- Question : <input type="text" name="Question"><br><br>
    Option 1 : <input type="text" name="Options"><br><br>
    Option 2 : <input type="text" name="Options1"><br><br>
    Answer Type : <input type="text" name="At"><br><br>
    Yes Question Index :<input type="text" name="Yqi"><br><br>
    No Question Index :<input type="text" name="Nqi"><br><br>
    Category Type : <input type="text" name="ct"><br><br>
     --}}<input type="submit" value="SUBMIT">
</form>