<head>
    <style>
form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

</style>
</head>
<form method="POST" action="/api/oasearch">
    <H2>ADD QUESTIONS</H2>
    Question ID : <input type="text" name="QuestionID"><br><br> 
    Question : <input type="text" name="Question"><br><br>
    Option 1 : <input type="text" name="Options"><br><br>
    Option 2 : <input type="text" name="Options1"><br><br>
    Answer Type : <input type="text" name="At"><br><br>
    Yes Question Index :<input type="text" name="Yqi"><br><br>
    No Question Index :<input type="text" name="Nqi"><br><br>
    Category Type : <input type="text" name="ct"><br><br>
    <input type="submit" value="SUBMIT">
    
</form>
